.container {
  max-width: 1140px;
  margin: auto;
  padding-left: $padding-50;
  padding-right: $padding-50;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
